doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Users
        link(rel="stylesheet", href="style.css")
    body 
        a(id="nav", href="/")
            img(src="/logo.png", alt="logo", id="logo")
            h1(id="title") Outer Forums
        div(id="mainCon")
            hr
            each user in userList
                div(class="catCon")
                    h2=user.username
                    p=user.bio 
                    p=user.join_date